._main {
  border: 0;
  border-radius: 0;
}

._header {
  top: 0;
  left: 0;
  right: 0;
  background: transparent !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
}

._terms {
  margin-top: 0;
  position: relative;
  top: auto;
  bottom: auto;
  height: calc(100% - 23px);
}

body.closed-tabs ._terms {
  height: 100%;
}

._nav {
  height: 23px;
  line-height: 22px;
  background: #D4D4D4 !important;
  border-bottom: 1px solid #B2B2B2;
}

body.closed-tabs ._nav {
  display: none;
}

._nav ._list {
  border: 0;
  margin-left: 0;
}

._nav ._borderShim {
  display: none;
}

._nav ._tab {
  border-bottom: 0;
  border-left: 0;
}

._nav ._tab:not(._textActive) {
  background: #BEBEBE;
  transition: all 0.20s ease-out;
}

._nav ._tab:not(._textActive):hover {
  background: #B2B2B2;
}

._nav ._tab._first {
  margin-left: 0;
}

._nav ._tab ._text {
  height: 22px;
}

._nav ._tab._active:before {
  display: none;
}

._nav ._tab ._icon {
  left: 5px;
  right: auto;
  top: 4px;
  border-radius: 2px;
}

._nav ._tab ._icon svg {
  fill: #767676;
  height: 8px;
  width: 8px;
  left: 3px;
  top: 3px;
}

._nav ._tab ._icon:hover {
  background: #A2A2A2;
}

._nav ._tab._active ._icon:hover {
  background: #C0C0C0;
}

._nav ._tab ._textActive {
  border: 0 !important;
  background: #D4D4D4;
}

._nav ._list ._text,
._nav ._title {
  color: #2E2D2E;
}
