.hyperterm_main {
  border: 0 !important;
}

.header_header {
  border-bottom: 1px solid #B2B2B2;
  top: 0;
  left: 0;
  right: 0;
  background: #D4D4D4 !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.terms_terms {
  margin-top: 30px;
}

.tabs_nav {
  height: 22px;
  line-height: 22px;
}

.tabs_nav .tabs_list {
  border: 0;
}

.tabs_nav .tab_tab:not(.tab_textActive) {
  background: #BEBEBE;
  transition: all 0.20s ease-out;
}

.tabs_nav .tab_tab:not(.tab_textActive):hover {
  background: #B2B2B2;
}

.tabs_nav .tab_tab.tab_first {
  margin-left: 0;
}

.tabs_nav .tab_tab .tab_text {
  height: 22px;
}

.tabs_nav .tab_tab.tab_active:before {
  display: none;
}

.tabs_nav .tab_tab .tab_textActive {
  border: 0 !important;
  background: #D4D4D4;
}

.tabs_nav .tabs_list .tab_text,
.tabs_nav .tabs_title {
  color: #2E2D2E;
}
